<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAKERY</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"
    />
</head>
<body>
    <div class="container mt-5">
        <h3 class="mb-4">Tambah Daftar Roti</h3>
        <from action="{{ url_for('insert_roti') }}" method="POST">
            <div class="mb-3">
                <label>Nama Roti</label>
                <input type="text" class="form-control" name="nama_roti" required />
            </div>

            <div class="mb-3">
                <label>Kategori</label>
                <select class="form-control" name="id_kategori" required>
                    <option value="">-- Pilih Kategori --</option>
                    {% for k in kategori %}
                    <option value="{{ k.id_kategori }}">{{ k.nama_kategori }}</option>
                    {{% endfor %}}
                </select>
            </div>

            <div class="mb-3">
                <label>Deskripsi</label>
                <textarea class="form-control" name="deskripsi"></textarea>
            </div>

            <div class="mb-3">
                <label>Stok</label>
                <input type="number" class="form-control" name="stok" required />
            </div>

            <button type="submit" class="btn btn-primary">Simpan</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Kembali</a>
        </from>
    </div>
</body>
</html>