<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAKERY</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"
    />
</head>
<body>
    <div class="container mt-5">
        <h3 class="mb-4">Update Daftar Roti</h3>
        <form action="{{ url_for('update_roti', id_roti=data.id_roti) }}" method="POST">
            <div class="mb-3">
                <label>Nama Roti</label>
                <input type="text" class="form-control" name="nama_kategori"
                        value="{{ data.nama_roti }}" required>
            </div>

            <div class="mb-3">
                <label>Kategori Roti</label>
                <select class="form-control" name="id_kategori" required>
                    {% for k in kategori %}
                        <option value="{{ k.id_kategori }}"
                            {% if k.id_kategori == data.id_kategori %}selected{% endif %}>
                            {{ k.nama_kategori }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label>Deskripsi</label>
                <textarea class="form-control" name="deskripsi">{{ data.deskripsi }}</textarea>
            </div>

            <div class="mb-3">
                <label>Harga</label>
                <input type="number" class="form-control" name="harga" value="{{ data.harga }}" required></input>
            </div>

            <div class="mb-3">
                <label>Stok</label>
                <input type="number" class="form-control" name="stok" value="{{ data.stok }}" required>
            </div>

            <button type="submit" class="btn btn_warning text-white">Update</button>
            <a href="{{ url_for('index') }}" class="btn btn-secondary">Kembali</a>
        </form>
    </div>
</body>
</html>